.webshop-header {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
    align-items: center;
    background-color: #2B2B2B;
    color: white;
}

.nav-link, .nav-link:visited, .nav-link:active {
    color: white;
}

.home-icon {
    height: 7vh;
}