.listitem {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 30%;
    height: 60vh;
    padding: 5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 2.5%;
}

.listitem > h5 {
    color: #2B2B2B;
}

.listitem > .product-info > .product-img {
    height: 20vh;
    margin-bottom: 2vh;
} 

.listitem > .product-info > p {
    font-weight: 600;
}

.listitem  .info-btn {
    border-radius: 5px;
    padding: 2mm 5mm 2mm 5mm;
    border: none;
    background-color: #FFB03A;
    color: white;
}